/** 
 * 	CSS for the Movie Trends vis goes here. 
 *  Please delete this comment later :).
 */

svg{
	border: 2px solid;
	border-color: #d3d3d3;
}

.axis path, 
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
}

text {
	font-family: sans-serif;
}

text.legend {
	font-size: 12px;
}

ul{
	text-decoration: none;
	list-style: none;
	font-family: Calibri;
}
filter{
	
	font-family: Calibri;

}

.graphTitle {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black; 
}


#tooltipSvg {
	border: .5px solid;
	border-color: #000000;
	background: #ffffff;
}

.tooltipText {
	font-size: 12px;
	font-family: Calibri;
}

.tooltipTitle {
	font-size: 12px;
	font-family: Calibri;
	font-weight: bold;
}
