/** 
 * 	CSS for the Movie Trends vis goes here. 
 *  Please delete this comment later :).
 */

svg{
	border: 2px solid;
	border-color: #d3d3d3;
}

.axis path, 
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.bar: hover{
	fill:grey;
}
.title {
	font-size: 24px;
}


text {
	font-family: sans-serif;
    font-size: 18px;
}

text.legend {
	font-size: 12px;
}

ul{
	text-decoration: none;
	list-style: none;
	font-family: Calibri;
}
filter{
	
	font-family: Calibri;

}

